<h1>Instituciones</h1>

<button [routerLink]='["/invitados-agregar"]' class="btn btn-primary">Agregar Categoria</button>

<p *ngIf="!(institucion && institucion.length)">
  No existen Registro

</p>
<table class="table" *ngIf="(institucion && institucion.length)">
  <thead>
    <tr>

      <th>ID</th>
      <th>Nombre</th>
      <th>Alias</th>
      <th>Grupo</th>

    </tr>
  </thead>
  <tr *ngFor="let institucion of institucion">

    <td>{{institucion.idInstitucion}}</td>
    <td>{{institucion.razonSocial}}</td>
    <td>{{institucion.alias}}</td>
    <td>{{institucion.idGrupo}}</td>

    <td>
      <button type="button" class="btn btn-success">Editar</button>
      <button class="btn btn-danger " (click)="delete(invitados)">
        Eliminar
      </button>



    </td>

  </tr>
</table>
